@charset "utf-8";
/* CSS Document */

#contact dl{
    border: 1px solid #cbc5c5;
    border-top: none;
    background-color: #f5efef
}

#contact dt, #contact dd{
        border-top: 1px solid #cbc5c5;
        padding: 10px;
}

#contact dt{
    float: left;
    width: 15em;
    font-weight: bold;
}

#contact dd{
    margin-left: 15em;
    background-color: #fff;
    border-left: 1px solid #cbc5c5;
    }

#reset, #submit{
    margin: 10px 10px 0 10px;
    padding: 5px 50px;
    background-color: #ec91ac;
    color: #fff;
}

#button{
    text-align: center;
}

#name, #email, #departure{
    width: 45em;
    padding: 3px;
}

#commet{
    width: 45em;
    height: 150px;
}

#contact .attention{
    margin: 0 10px 0;
    font-size: 12px;
    color: #f55db7;
}


